@mixin side( $FLOAT ) {
  position: relative;
  width: 50%;
  height: auto;
  float: $FLOAT;
}
@mixin no-side() {
  float: none;
  width: 100%;
}


// This simple mixin is given to a div to split it in half.
// When there isn't enough room to display side-by-side,
// then it reverts to above and below

// $WIDTH: The width of the div - %, px
// $MIN_WIDTH: Point at which the display is over-under
@mixin halvsies( $WIDTH, $MIN_WIDTH ) {
  display: inline-block;
  height: auto;
  width: $WIDTH;
  .left {
    @include side( left );
  }
  .right {
    @include side( right );
  }
  @media screen and ( max-width: $MIN_WIDTH ) {
    display: block;
    width: auto;
    .left {
      @include no-side();
    }
    .right {
      @include no-side();
    }
  }
}
